* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Adjust the z-index value as needed */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: semi-transparent background */
  backdrop-filter: blur(8px); /* Adjust the blur radius as needed */
}
header {
  background-color: #05203c !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

div.MuiMenu-root:nth-child(6) > div:nth-child(3) > ul:nth-child(1) {
  padding: 1rem;
}
