h1,
h5 {
  margin: 0.75rem;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 1px 4px 10px 1px #aaa;
}

.login {
  text-align: left;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.input-group > * {
  height: 100%;
}
