.searchbar form {
  display: flex;
  align-items: stretch;
  gap: 0.25rem;
  margin: 1rem;
}

.searchbar form:first-child {
  border-radius: 5px 0 0 5px;
}

.MuiSvgIcon-root {
  position: relative;
  top: 0;
}

.mui-auto-suggest {
  background-color: white;
  padding: 0.5rem;
}

.search-wrapper {
  background-color: #05203c;
  width: fit-content;
  margin: 2rem;
  padding: 2rem;
  color: white;
  font-weight: 500;
  line-height: normal;
  border-radius: 16px;
}

.DateInput_input {
  padding: 0.5rem;
}

.accordian-container {
  position: absolute;
  width: -moz-fit-content;
  width: inherit;
  padding: 1.9rem;
  border: solid black 1px;
  z-index: 1000;
  background-color: white;
  border-radius: 8px;
  color: black;
  box-sizing: border-box;
}

.cabin-label {
  font-size: 2rem;
  font-weight: 500;
}

.form-items {
  display: block;
}

.departure-arrival {
  padding: 11px 11px 9px 11px;
}

.toggle-menu,
.toggle-menu:first-child {
  min-width: 13rem;
}

.toggle-menu button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 4.7rem;
}
.label-text {
  display: flex;
  flex-direction: column;
}

.counter {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.counter-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.counter-wrapper button {
  padding: 0.5rem;
}

.counter input {
  flex: 1;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
  max-width: 2.5rem;
}

.legal-disclaimer {
  margin: 1rem auto 1rem;
  width: 25rem;
  font-size: 0.8rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-sizing: border-box;
  word-wrap: break-word;
}
.auto-suggest-airport {
  position: absolute;
  background-color: white;
  color: black;
  width: max-content;
  list-style: none;
}

.auto-suggest-airport li {
  color: black;
  padding: 0.7rem 1.77rem 0.7rem 1.77rem;
}

.auto-suggest-airport li:hover {
  background-color: #303f9f;
  color: white;
  width: 100%;
  cursor: pointer;
}

.departure-suggestions {
  top: 10.7rem;
  left: 5.1rem;
}

.destination-suggestions {
  top: 10.7rem;
  left: 15.2%;
}
.DateRangePicker {
  width: 18rem;
}

.DateRangePickerInput {
  height: 4.7rem;
}

.searchbar-btn {
  height: 4.7rem;
}

.DateInput_fang {
  top: 69px !important;
}
.DateRangePicker_picker {
  top: 80px !important;
}
.DateInput_input_1 {
  position: relative;
  height: 4.29rem;
}
.destination-arrival-wrapper {
  display: flex;
  gap: 0.5rem;
}

.accordian-container button {
  height: 3.2rem;
}

@media only screen and (min-width: 600px) {
  .mui-auto-suggest {
    width: 50%;
  }
  .search-wrapper {
    padding: 2rem 1rem 2rem 0;
    width: 35rem;
  }
  .searchbar-heading {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    min-width: max-content;
  }
  .searchbar form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchbar form > * {
    width: 100%;
  }

  .DateRangePicker {
    width: 100%;
  }
  .DateRangePickerInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .DateRangePicker_picker_1 {
    left: 10rem !important;
  }
  .DateInput_fang {
    display: none;
  }
  .DateInput_input__focused {
    border-bottom: 8px solid #008489;
  }
  .toggle-menu button {
    width: 100%;
  }
  .counter button {
    width: fit-content;
  }
  .accordian-container {
    top: 40%;
    left: 17%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mui-auto-suggest {
    width: 50%;
  }
  .search-wrapper {
    padding: 2rem 1rem 2rem 0;
  }
  .searchbar form {
    flex-direction: column;
  }
  .searchbar form > * {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .DateRangePicker {
    width: 100%;
  }
  .DateRangePickerInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .DateRangePicker_picker_1 {
    left: 10rem !important;
  }
  .DateInput_fang {
    display: none;
  }
  .DateInput_input__focused {
    border-bottom: 8px solid #008489;
  }

  .counter button {
    width: fit-content;
  }
  .accordian-container {
    top: 40%;
    left: 17%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mui-auto-suggest {
    height: 4.7rem;
  }
  .search-wrapper {
    width: fit-content;
  }

  .searchbar-heading {
    width: 100%;
    text-align: center;
  }
  .searchbar form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item5 {
    grid-column: span 2;
  }

  .DateRangePicker_picker_1 {
    left: initial !important;
  }
  .DateInput_fang {
    display: initial;
  }
  .DateInput_input__focused {
    border-bottom: 2px solid #008489;
  }
  .accordian-container {
    top: 50%;
    left: 58%;
  }
}

.MuiGrid-grid-xs-1,
.MuiGrid-grid-xs-3 {
  max-width: none !important;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .DateRangePicker {
    width: 18rem;
  }
  .mui-auto-suggest {
    width: 11rem !important;
  }
  .search-wrapper {
    padding: 2rem;
  }
  .searchbar form {
    display: flex;
    flex-direction: row;
  }
  .searchbar-heading {
    margin-left: 1rem;
    width: max-content;
    min-width: 626.3px;
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .mui-auto-suggest {
    width: 18rem !important;
  }
}
